<% include ../common/header %>

<div class="main">
    <div class="wrap demo-edit">
        <div class="content">
            <div class="demo-wrap cf">

                <input id="J-mail-module" type="hidden" value="IAR报告">

                <% include demo-common/ctrl-box.ejs %>
                <div class="other-box">
                    <div class="form-item">
                        <h4 class="form-title">邮件类型</h4>
                        <div class="mail-type" id="mailType">
                            <div class="type cf"><span data-type="1a">1a</span><span data-type="1b">1b</span><span data-type="1c">1c</span></div>
                            <div class="lang cf"><span data-lang="en">英</span><span data-lang="ru">俄</span><span data-lang="fr">法</span><span data-lang="es">西</span><span data-lang="pt">葡</span></div>
                        </div>
                    </div>
                </div>
                <% include demo-common/mod-box.ejs %>

                <div class="demo">
                    <div id="tableInner" class="demo-fixed">

                        <% if (page == "cookMail") { %>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td bgcolor="#ebebeb">
                                    <table id="header" border="0" cellpadding="0" cellspacing="0" align="center" width="700">
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ebebeb">
                                    <input id="mailHFType" type="hidden" value='{"type":"1a","lang":"en"}'>
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="700">
                                        <tbody>
                                        <tr>
                                            <td bgcolor="#FFFFFF">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td align="left"
                                                            style="background:#ebebeb;font-size:30px;"
                                                            valign="middle">
                                                            <div class="mod-space" data-type="img"
                                                                 data-name="iar-banner">
                                                                <a href="resources.made-in-china.com/industry-analysis-reports/">
                                                                <img alt="" border="0" src="http://edm.made-in-china.com/MICEN/2016/7/3642-01.jpg" style="vertical-align:top;" title="" width="700"/>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding:40px 40px 10px; font-family:Arial; font-size:16px; line-height:24px; color:#555;">
                                                            <div class="mod-space" data-type="txt" data-name="iar-hello-title">
                                                                <p class="J-webHello txtBox" style="margin: 10px 0; font-family:Arial; font-size:16px; line-height:27px; font-weight: bold; color:#222; ">Dear #{userName},</p>
                                                            </div>
                                                            <div class="mod-space" data-type="richTxt"
                                                                 data-name="iar-inner" data-styles="margin: 10px 0;font-family:Arial; font-size:14px; line-height:24px; color:#555;">
                                                                <p style="margin: 10px 0;font-family:Arial; font-size:14px; line-height:24px; color:#555; ">XXXXXXXXX xXXXXXXXXXX XXXXXXXXX  XXX    <a href="http://www.made-in-china.com/" style="text-decoration:none; color:#246bb3;">Made-in-China.com</a> XXXXXXXXXXXXX XXXXXXXXXXXXXXXXXX </p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding:0 40px;">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="padding:40px 0; border-bottom:1px solid #ddd;">
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="vertical-align:top;" width="130">
                                                                                    <a href="http://resources.made-in-china.com/article/industry-trends/AnDEMcQVRxlB/China-s-Extruders-Export-Analysis-in-2015/"><img alt="Medicine Industry Analysis Report" border="0" height="128" src="http://edm.made-in-china.com/MICEN/2016/7/3642-02.jpg" width="110"></a></td>
                                                                                <td>
                                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td style="font-family:Arial; font-size:14px; line-height:20px; padding-bottom:16px;">
                                                                                                <a href="http://resources.made-in-china.com/article/industry-trends/AnDEMcQVRxlB/China-s-Extruders-Export-Analysis-in-2015/" style="color:#246bb3; text-decoration:none;">China's Extruders Export Analysis</a></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-family:Arial; font-size:12px; line-height:20px; color:#888;" valign="top">
                                                                                                Jiangsu province and Shandong province were China's top export origins of extruders. Germany was the largest exporter of extruders in 2015.</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="text-align:left;padding-top:20px;">
                                                                                                <a href="http://resources.made-in-china.com/article/industry-trends/AnDEMcQVRxlB/China-s-Extruders-Export-Analysis-in-2015/"><img alt="Reading Online Free" border="0" height="32" src="http://edm.focuschina.com:80/MICEN/2015/4/2875-btn.png" width="151"></a></td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding:40px 0; border-bottom:1px solid #ddd;">
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="vertical-align:top;" width="130">
                                                                                    <a href="http://resources.made-in-china.com/article/industry-trends/AnDEMcQVRxlB/China-s-Extruders-Export-Analysis-in-2015/"><img alt="Medicine Industry Analysis Report" border="0" height="128" src="http://edm.made-in-china.com/MICEN/2016/7/3642-02.jpg" width="110"></a></td>
                                                                                <td>
                                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td style="font-family:Arial; font-size:14px; line-height:20px; padding-bottom:16px;">
                                                                                                <a href="http://resources.made-in-china.com/article/industry-trends/AnDEMcQVRxlB/China-s-Extruders-Export-Analysis-in-2015/" style="color:#246bb3; text-decoration:none;">China's Extruders Export Analysis</a></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-family:Arial; font-size:12px; line-height:20px; color:#888;" valign="top">
                                                                                                Jiangsu province and Shandong province were China's top export origins of extruders. Germany was the largest exporter of extruders in 2015.</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="text-align:left;padding-top:20px;">
                                                                                                <a href="http://resources.made-in-china.com/article/industry-trends/AnDEMcQVRxlB/China-s-Extruders-Export-Analysis-in-2015/"><img alt="Reading Online Free" border="0" height="32" src="http://edm.focuschina.com:80/MICEN/2015/4/2875-btn.png" width="151"></a></td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding:40px 0 20px;">
                                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="line-height:24px;font-family:Arial; font-size:16px; font-weight: bolder; color:#222; text-align:left;">
                                                                                    Industry Analysis Reports</td>
                                                                                <td style="padding:0 10px;line-height:20px;font-family:Arial; font-size:16px; color:#ebebeb ; text-align:left;">
                                                                                    |</td>
                                                                                <td style="line-height:20px;font-family:Arial; font-size:12px; text-align:left;">
                                                                                    <a href="http://resources.made-in-china.com/industry-analysis-reports/" style="line-height:20px;font-family:Arial; font-size:12px; color:#246bb3; text-align:left;text-decoration: none;">View More&gt;</a></td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding-bottom:40px;">
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="padding:0 5px 0 0;" width="120">
                                                                                    <a href="http://resources.made-in-china.com/article/market-analysis/eEmQDbocOJlC-2016-219-2015-Ballpoint-Pencil-Industry-Analysis-Report/"><img alt="" border="0" height="160" src="http://edm.made-in-china.com/MICEN/2016/7/3642-08.jpg" width="120"></a></td>
                                                                                <td style="padding:0 5px 0 0;" width="120">
                                                                                    <a href="http://resources.made-in-china.com/article/market-analysis/CQmnioejgxIv-2016-19-2015-Chandeliers-Industry-Analysis-Report/"><img alt="" border="0" height="160" src="http://edm.made-in-china.com/MICEN/2016/7/3642-09.jpg" width="120"></a></td>
                                                                                <td style="padding:0 5px 0 0;" width="120">
                                                                                    <a href="http://resources.made-in-china.com/article/market-analysis/EQnxHeqEjJDs-2016-269-2015-Golf-Balls-Industry-Analysis-Report/"><img alt="" border="0" height="160" src="http://edm.made-in-china.com/MICEN/2016/7/3642-10.jpg" width="120"></a></td>
                                                                                <td style="padding:0 5px 0 0; " width="120">
                                                                                    <a href="http://resources.made-in-china.com/article/market-analysis/jJmxFqhMYQHl-2015-249-2014-Chemical-Industry-Analysis-Report/"><img alt="" border="0" height="160" src="http://edm.made-in-china.com/MICEN/2016/7/3642-11.jpg" width="120"></a></td>
                                                                                <td style="padding:0 0 0 0px;" width="120">
                                                                                    <a href="http://resources.made-in-china.com/article/market-analysis/imnxOokbsJDH-2015-209-2014-Agriculture-Food-Industry-Analysis-Report/"><img alt="" border="0" height="160" src="http://edm.made-in-china.com/MICEN/2016/7/3642-12.jpg" width="120"></a></td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" style="padding:0 0 40px;">
                                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                                            <tbody>
                                                                            <tr>
                                                                                    <a href="http://kefu.trademessenger.com/chat/chatting?domain=micen&amp;referrer=http%3A%2F%2Fwww.made-in-china.com%2Faboutus%2Fcontact%2F&amp;businessType=YsxJmU8nmRo&amp;language=zh"><img alt="Need Help? Live Chat" border="0" height="40" src="http://edm.focuschina.com:80/MICEN/2015/3/live-chat-btn.png" title="Need Help? Live Chat" width="219"></a></td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table id="footer" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td style="border-top:1px solid #ebebeb; padding:20px 40px;background:#fff;">
                                                            <table border="0" cellpadding="0" cellspacing="0"
                                                                   width="100%">
                                                                <tbody>
                                                                <tr>
                                                                    <td valign="middle">
                                                                        <table cellpadding="0" cellspacing="0"
                                                                               border="0" width="100%">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="padding:0px 0px 5px 0px; font-size:14px;font-family:Arial; color:#888; line-height:24px;">
                                                                                    Please also feel free to <a
                                                                                            href="http://www.made-in-china.com/aboutus/contact"
                                                                                            style="text-decoration:none; color:#246bb3;">contact
                                                                                        us</a>.
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding:0px 0px 5px 0px; font-size:14px;font-family:Arial; color:#888; line-height:24px;">
                                                                                    <table cellpadding="0"
                                                                                           cellspacing="0"
                                                                                           border="0">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td width="70"
                                                                                                style="padding:0px 0px 0px 0px; font-size:14px;font-family:Arial; color:#888; line-height:24px;">
                                                                                                Follow us:
                                                                                            </td>
                                                                                            <td width="25"><a
                                                                                                        href="http://bit.ly/facebook_mic"><img
                                                                                                            alt=""
                                                                                                            border="0"
                                                                                                            height="16"
                                                                                                            src="http://edm.made-in-china.com/MICEN/2013/9/light_and_bed-p14.gif"
                                                                                                            width="17"></a>
                                                                                            </td>
                                                                                            <td width="25"><a
                                                                                                        href="http://bit.ly/twitter_mic"><img
                                                                                                            alt=""
                                                                                                            border="0"
                                                                                                            height="16"
                                                                                                            src="http://edm.made-in-china.com/MICEN/2013/9/light_and_bed-p13.gif"
                                                                                                            width="17"></a>
                                                                                            </td>
                                                                                            <td width="25"><a
                                                                                                        href="http://bit.ly/googleplus_mic"><img
                                                                                                            alt=""
                                                                                                            border="0"
                                                                                                            height="16"
                                                                                                            src="http://edm.made-in-china.com/MICEN/2013/9/light_and_bed-p15.gif"
                                                                                                            width="17"></a>
                                                                                            </td>
                                                                                            <td width="25"><a
                                                                                                        href="http://bit.ly/linkedin_mic"><img
                                                                                                            alt=""
                                                                                                            border="0"
                                                                                                            height="16"
                                                                                                            src="http://edm.made-in-china.com/MICEN/2014/9/linkin.gif"
                                                                                                            width="17"></a>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding:0px 0px 0px 0px; font-size:14px;font-family:Arial; color:#888; line-height:24px;">
                                                                                    To your success, <a
                                                                                            href="http://www.made-in-china.com/"
                                                                                            style="text-decoration:none; color:#246bb3;">Made-in-China.com</a>.
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                    <td width="141">
                                                                        <table cellpadding="0" cellspacing="0"
                                                                               border="0" width="100%">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="padding:0px 0px 5px 0px; font-size:14px;font-family:Arial; color:#888; line-height:24px;">
                                                                                    Made-in-China app
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding:0px 0px 10px 0px; font-size:14px;font-family:Arial; color:#888; line-height:24px;">
                                                                                    <a href="https://play.google.com/store/apps/details?id=com.micen.buyers.activity&amp;hl=en">
                                                                                        <img src="http://edm.made-in-china.com/MICEN/2015/7/app-ad.png"
                                                                                             border="0" width="141"
                                                                                             height="35"
                                                                                             alt="Get it on Google play"
                                                                                             title="Get it on Google play">
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding:0px 0px 0px 0px; font-size:14px;font-family:Arial; color:#888; line-height:24px;">
                                                                                    <a href="https://itunes.apple.com/us/app/made-in-china-for-buyer/id554038220?ls=1&amp;mt=8">
                                                                                        <img src="http://edm.made-in-china.com/MICEN/2015/7/app-os.png"
                                                                                             border="0" width="141"
                                                                                             height="35"
                                                                                             alt="Download on the App Store"
                                                                                             title="Download on the App Store">
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding:20px 20px 40px;">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tbody>
                                                                <tr class="J-web">
                                                                    <td style="padding-bottom:10px;font-size:12px;font-family:Arial; color:#888; line-height:20px; text-align:center;">
                                                                        The reason for this email is that you have registered
                                                                        Made-in-China.com.<br/>
                                                                        If you do not wish to receive future service-related email,
                                                                        please
                                                                        click to <a href="#{backHref_var}"
                                                                                    style="text-decoration:underline; color:#555;">unsubscribe</a>.
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding-bottom:10px;font-size:12px;font-family:Arial; color:#888; line-height:20px; text-align:center;">
                                                                        Made-in-China.com guarantees that we only send the promotion
                                                                        and
                                                                        service emails. We will protect your privacy.<br/>
                                                                        Please add the <a href="mailto:Mail-en@e.Made-in-China.com"
                                                                                          style="text-decoration:underline; color:#555;">Mail-en@e.Made-in-China.com</a>
                                                                        as a contact in order to receive the special offer and
                                                                        service
                                                                        mail.
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding-bottom:10px;font-size:12px;font-family:Arial; color:#888; line-height:20px; text-align:center;">
                                                                        Find reliable suppliers audited by SGS - <a
                                                                                href="http://www.made-in-china.com/audited-suppliers/for-buyers/"
                                                                                style="color:#888;text-decoration:none;">Audited
                                                                            Supplier</a>.
                                                                        Browse <a
                                                                                href="http://www.made-in-china.com/audited-suppliers/for-buyers/browse-audit-reports.html"
                                                                                style="color:#888;text-decoration:none;">Audit
                                                                            Report</a>.<br/>
                                                                        Site Access: <a
                                                                                href="http://www.made-in-china.com/prod/catlist/"
                                                                                style="color:#888;text-decoration:none;">Search
                                                                            Products &amp; Suppliers</a> | <a
                                                                                href="http://membercenter.made-in-china.com/trade-service/quotation-request.html"
                                                                                style="color:#888;text-decoration:none;">Post Sourcing
                                                                            Request</a> | <a
                                                                                href="http://membercenter.made-in-china.com/catalogalert.do?xcase=subscrib"
                                                                                style="color:#888;text-decoration:none;">Alert</a> | <a
                                                                                href="http://www.made-in-china.com/help/faq/"
                                                                                style="color:#888;text-decoration:none;">FAQ</a> | <a
                                                                                href="http://www.made-in-china.com/trademessenger/"
                                                                                style="color:#888;text-decoration:none;">TradeMessenger</a>
                                                                        | <a
                                                                                href="http://membercenter.made-in-china.com/logon.do?xcase=getBackPassword"
                                                                                style="color:#888;text-decoration:none;">Forgot
                                                                            Password</a><br/>
                                                                        Multi-Language: <a href="http://es.made-in-china.com/"
                                                                                           style="color:#888;text-decoration:none;">Español</a>
                                                                        | <a href="http://pt.made-in-china.com/"
                                                                             style="color:#888;text-decoration:none;">Português</a>
                                                                        | <a
                                                                                href="http://fr.made-in-china.com/"
                                                                                style="color:#888;text-decoration:none;">Français</a> |
                                                                        <a
                                                                                href="http://ru.made-in-china.com/"
                                                                                style="color:#888;text-decoration:none;">Русский
                                                                            язык</a> |
                                                                        <a
                                                                                href="http://www.made-in-china.com/multi-language/"
                                                                                style="color:#888;text-decoration:none;">More</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size:12px;font-family:Arial; color:#888; line-height:20px; text-align:center;">
                                                                        Copyright © 2016 <a
                                                                                href="http://www.focuschina.com/html_en/"
                                                                                style="color:#888;text-decoration:none;">Focus
                                                                            Technology Co., Ltd.</a> All rights reserved.
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <% }else if(page == "modifyMail"){ %>
                        <%- mail.mailCode ? mail.mailCode : mail.mailHtml %>
                        <% }%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<% include ../common/module %>

<script type="text/javascript">

    var mail = new MailMaker({
        items:[
            ['iar-banner','banner图片'],
            ['iar-inner','文本内容'],
            ['iar-hello-title','招呼内容']
        ]
    })

</script>

<% include ../common/footer %>