<% include ../common/header %>

<div class="main">
    <div class="wrap demo-edit">
        <div class="content">
            <div class="demo-wrap cf">
                <input id="J-mail-module" type="hidden" value="资讯快递">
                <div class="demo-sider">
                    <div class="demo-fixed">
                        <div class="ctrl-box">
                            <div class="form-item">
                                <h4 class="form-title">邮件主题<em>*</em></h4>
                                <div class="form-fill">
                                    <input id="mailTitle" type="text"/>
                                </div>
                            </div>
                            <div class="form-item">
                                <h4 class="form-title">邮件说明</h4>
                                <div class="form-fill">
                                    <input id="mailDescription" type="text"/>
                                </div>
                            </div>
                            <div class="form-item">
                                <h4 class="form-title">WEB版地址</h4>
                                <div class="form-fill">
                                    <input id="inputWEBUrl" type="text">
                                </div>
                            </div>
                            <div class="form-item">
                                <h4 class="form-title">邮件类型</h4>
                                <div class="mail-type" id="mailType">
                                    <div class="type cf"><span data-type="2a">2a</span><span data-type="2b">2b</span><span
                                                data-type="2c">2c</span></div>
                                </div>
                            </div>
                            <!--<div class="form-item">-->
                            <!--<h4 class="form-title">增加新闻数量</h4>-->
                            <!--<div class="add-ctrlbox" data-title="新闻" data-modspace="infor-new">-->
                            <!--<span class="itm">新闻1</span><button class="J-addMod btn">增加</button>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-item">-->
                            <!--<h4 class="form-title">增加故事数量</h4>-->
                            <!--<div class="add-ctrlbox" data-title="故事" data-modspace="infor-story">-->
                            <!--<span class="itm">故事1</span><button class="J-addMod btn">增加</button>-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="form-item">
                                <h4 class="form-title">其他选项</h4>
                                <div class="toggle-box">
                                    <label data-toggle="inforReport"><input type="checkbox" checked> 行业分析报告</label>
                                    <label data-toggle="inforOther"><input type="checkbox" checked> 其他内容</label>
                                </div>
                            </div>
                        </div>
                        <div class="mod-box">
                            <div class="mod-edit J-mod-edit"></div>
                        </div>

                        <div class="btn-box">
                            <button id="save" class="btn btn-main">保 存</button>
                            <button id="priew" class="btn">预览邮件</button>
                            <button id="exportMail" class="btn">导出HTML代码</button>
                            <button id="exportWebMail" class="btn">导出WEB代码</button>
                        </div>
                    </div>

                </div>

                <div class="demo">
                    <div id="tableInner" class="demo-fixed">

                        <% if (page == "cookMail") { %>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td>
                                    <table id="header" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="background:#ebebeb; ">
                                    <input id="mailHFType" type="hidden" value='{"type":"2a","lang":"cn"}'>
                                    <input id="numOfBlocks" type="hidden" value='{"news":1,"storys":1}'>
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="700">
                                        <tbody>
                                        <tr>
                                            <td style="background:#29b529;">
                                                <table bgcolor="#29b529" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td width="555">
                                                            <img alt="中国制造网，资讯速递" border="0" height="74" src="http://edm.focuschina.com/MICEN/2015/5/info-banner.png" style="vertical-align: top" width="555"></td>
                                                        <td style="font-size:24px; color:#fff; line-height:32px;font-family:Arial,'微软雅黑';font-weight:bold;text-align:center;" valign="middle">
                                                            <div class="mod-space" data-type="txt" data-name="infor-month">
                                                                <p style="margin: 0" class="txtBox"><%= new Date().getFullYear() %>年<%= new Date().getMonth()+1 %>月</p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding:20px 0 0 0; background:#fff;">
                                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td style="padding:0px 20px 15px 20px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height:20px;  font-weight:bolder; font-size:14px; color:#222;">
                                                            最新动态</td>
                                                        <td style="padding:0px 20px 15px 20px;">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="200">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="font-family: '宋体','SimSun','Microsoft YaHei'; line-height:20px;  font-weight:bold; font-size:14px; color:#222;" valign="middle">
                                                                        外贸学堂</td>
                                                                    <td style="line-height:20px;" valign="middle">
                                                                        <img alt="外贸人必备技能" border="0" height="16" src="http://edm.focuschina.com:80/MICEN/2015/5/2970-pic5.png" title="外贸人必备技能" width="107"></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border-right:1px solid #ebebeb;" valign="top" width="329">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="padding: 0 20px 10px 20px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height:20px;font-weight:bold; font-size:14px; color:#555;">
                                                                        <div class="mod-space" data-type="richTxt" data-styles="margin: 0;line-height:20px;font-weight:bold; font-size:14px;" data-name="infor-firstTitle">
                                                                            <p style="margin: 0;line-height:20px;font-weight:bold; font-size:14px;">
                                                                                <a href="http://www.made-in-china.com">我是头条新闻动态的标题</a>
                                                                            </p>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding: 0 20px;">
                                                                        <div class="mod-space" data-type="img" data-name="infor-firstImg">
                                                                            <a href="http://service.made-in-china.com/bulletin/service/4790.htm"><img style="vertical-align: top" alt="" border="0" src="http://design.vemic.com:2222/309x150" title="" width="309"> </a>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding: 10px 20px 20px 20px;">
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="padding:0px 0 0 0; font-family: '宋体','SimSun','Microsoft YaHei'; line-height:20px; font-size:12px; color:#555;">
                                                                                    <div class="mod-space" data-type="richTxt" data-name="infor-firstInner" data-styles="margin: 0;line-height:20px; font-size:12px; color:#555;">
                                                                                        <p style="margin: 0;line-height:20px; font-size:12px; color:#555;">你好！我是头条新闻动态的内容，我是头条新闻动态的内容，我是头条新闻动态的内容，我是头条新闻动态的内容，我是头条新闻动态的内容。<br>
                                                                                            <a href="http://www.made-in-china.com">查看详情&gt;&gt;</a></p>
                                                                                    </div>

                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr class="J-infor-new" data-index="1">
                                                                    <td style="padding: 0 20px 20px 20px;">
                                                                        <div class="mod-space" data-type="richTxt" data-name="infor-new-1" data-styles="margin: 0;line-height: 20px; font-family: '宋体','SimSun','Microsoft YaHei'; font-size: 12px;color: #555;" data-h3styles="margin: 0 0 10px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height: 20px; font-weight: bold; font-size: 12px;">
                                                                            <h3 style="margin: 0 0 10px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height: 20px; font-weight: bold; font-size: 12px; ">
                                                                                <a href="http://www.made-in-china.com">hello，我是最新新闻动态的标题</a></h3>
                                                                            <p style="margin: 0;line-height: 20px; font-family: '宋体','SimSun','Microsoft YaHei'; font-size: 12px;color: #555;">我是最新新闻动态的正文，我是最新新闻动态的正文，我是最新新闻动态的正文，我是最新新闻动态的正文，我是最新新闻动态的正文。<br>
                                                                                <a href="http://www.made-in-china.com">查看详情&gt;&gt;</a></p>
                                                                            <p style="margin: 0"><br></p>
                                                                            <h3 style="margin: 0 0 10px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height: 20px; font-weight: bold; font-size: 12px; ">
                                                                                <a href="http://www.made-in-china.com">hello，我是最新新闻动态的标题</a></h3>
                                                                            <p style="margin: 0;line-height: 20px; font-family: '宋体','SimSun','Microsoft YaHei'; font-size: 12px;color: #555;">我是最新新闻动态的正文，我是最新新闻动态的正文，我是最新新闻动态的正文，我是最新新闻动态的正文，我是最新新闻动态的正文。<br>
                                                                                <a href="http://www.made-in-china.com">查看详情&gt;&gt;</a></p>
                                                                            <p style="margin: 0"><br></p>
                                                                            <h3 style="margin: 0 0 10px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height: 20px; font-weight: bold; font-size: 12px; ">
                                                                                <a href="http://www.made-in-china.com">hello，我是最新新闻动态的标题</a></h3>
                                                                            <p style="margin: 0;line-height: 20px; font-family: '宋体','SimSun','Microsoft YaHei'; font-size: 12px;color: #555;">我是最新新闻动态的正文，我是最新新闻动态的正文，我是最新新闻动态的正文，我是最新新闻动态的正文，我是最新新闻动态的正文。<br>
                                                                                <a href="http://www.made-in-china.com">查看详情&gt;&gt;</a></p>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding:20px 20px 15px 20px;border-top:1px solid #ebebeb; ">
                                                                        <div class="mod-space current" data-type="txt" data-name="infor-corpNew-title">
                                                                            <p class="txtBox" style="margin:0;font-family:'宋体';line-height:20px;  font-weight:bolder; font-size:14px; color:#222;">企业新闻</p>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>

                                                                    <td style="padding:0 20px 20px 0;">
                                                                        <div class="mod-space" data-type="richTxt" data-name="infor-corpNew" data-styles="" data-ulstyles="padding: 0;margin-bottom: 5px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height: 20px; font-size:12px; color:#555;">
                                                                            <ul style="margin-top:0;list-style-type: disc;">
                                                                                <li style="padding: 0;margin-bottom: 5px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height: 20px; font-size:12px; color:#555;"><a href="http://www.made-in-china.com">大家好！我是一条新闻。谢谢！</a></li>
                                                                                <li style="padding: 0;margin-bottom: 5px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height: 20px; font-size:12px; color:#555;"><a href="http://www.made-in-china.com">大家好！我是一条新闻。谢谢！</a></li>
                                                                                <li style="padding: 0;margin-bottom: 5px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height: 20px; font-size:12px; color:#555;"><a href="http://www.made-in-china.com">大家好！我是一条新闻。谢谢！</a></li>
                                                                                <li style="padding: 0;margin-bottom: 5px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height: 20px; font-size:12px; color:#555;"><a href="http://www.made-in-china.com">大家好！我是一条新闻。谢谢！</a></li>
                                                                                <li style="padding: 0;margin-bottom: 5px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height: 20px; font-size:12px; color:#555;"><a href="http://www.made-in-china.com">大家好！我是一条新闻。谢谢！</a></li>
                                                                            </ul>

                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td valign="top">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="padding:0 20px 20px 0;">
                                                                        <div class="mod-space" data-type="richTxt" data-name="infor-study" data-styles="" data-ulstyles="padding: 0;margin-bottom: 5px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height: 20px; font-size:12px; color:#555;">
                                                                            <ul style="margin-top:0;list-style-type: disc;">
                                                                                <li style="padding: 0;margin-bottom: 5px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height: 20px; font-size:12px; color:#555;"><a href="http://www.made-in-china.com" style="color:#337ab7;text-decoration: none;">大家好！我是一条新闻。谢谢！</a></li>
                                                                                <li style="padding: 0;margin-bottom: 5px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height: 20px; font-size:12px; color:#555;"><a href="http://www.made-in-china.com" style="color:#337ab7;text-decoration: none;">大家好！我是一条新闻。谢谢！</a></li>
                                                                                <li style="padding: 0;margin-bottom: 5px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height: 20px; font-size:12px; color:#555;"><a href="http://www.made-in-china.com" style="color:#337ab7;text-decoration: none;">大家好！我是一条新闻。谢谢！</a></li>
                                                                                <li style="padding: 0;margin-bottom: 5px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height: 20px; font-size:12px; color:#555;"><a href="http://www.made-in-china.com" style="color:#337ab7;text-decoration: none;">大家好！我是一条新闻。谢谢！</a></li>
                                                                                <li style="padding: 0;margin-bottom: 5px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height: 20px; font-size:12px; color:#555;"><a href="http://www.made-in-china.com" style="color:#337ab7;text-decoration: none;">大家好！我是一条新闻。谢谢！</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr class="J-toggle" data-toggle="inforReport">
                                                                    <td style="padding:20px 20px 15px 20px; font-family:'宋体';line-height:20px;  font-weight:bolder; font-size:14px; color:#222;border-top:1px solid #ebebeb;">
                                                                        行业分析报告</td>
                                                                </tr>
                                                                <tr class="J-toggle" data-toggle="inforReport">
                                                                    <td style="padding:0 20px 20px 0;">
                                                                        <div class="mod-space" data-type="richTxt" data-name="infor-report" data-styles="" data-ulstyles="padding: 0;margin-bottom: 5px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height: 20px; font-size:12px; color:#555;">
                                                                            <ul style="margin-top:0;list-style-type: disc;">
                                                                                <li style="padding: 0;margin-bottom: 5px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height: 20px; font-size:12px; color:#555;"><a href="http://www.made-in-china.com" style="color:#337ab7;text-decoration: none;">XXX行业分析报告</a></li>
                                                                                <li style="padding: 0;margin-bottom: 5px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height: 20px; font-size:12px; color:#555;"><a href="http://www.made-in-china.com" style="color:#337ab7;text-decoration: none;">XXX行业分析报告</a></li>
                                                                                <li style="padding: 0;margin-bottom: 5px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height: 20px; font-size:12px; color:#555;"><a href="http://www.made-in-china.com" style="color:#337ab7;text-decoration: none;">XXX行业分析报告</a></li>
                                                                            </ul>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding:20px 20px 15px 20px; font-family:'宋体';line-height:20px;  font-weight:bolder; font-size:14px; color:#222;border-top:1px solid #ebebeb;">
                                                                        成功故事</td>
                                                                </tr>
                                                                <tr class="J-infor-story" data-index="1">
                                                                    <td style="padding: 0 20px 20px;">
                                                                        <div class="mod-space" data-type="richTxt" data-name="infor-story-1" data-styles="margin: 0;line-height: 20px; font-family: '宋体','SimSun','Microsoft YaHei'; font-size: 12px;color: #555;" data-h3styles="margin: 0 0 10px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height: 20px; font-weight: bold; font-size: 12px;">
                                                                            <h3 style="margin: 0 0 10px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height: 20px; font-weight: bold; font-size: 12px; ">
                                                                                <a href="http://www.made-in-china.com">hello，我是成功故事的标题</a></h3>
                                                                            <p style="margin: 0;line-height: 20px; font-family: '宋体','SimSun','Microsoft YaHei'; font-size: 12px;color: #555;">我是成功故事的正文，我是成功故事的正文，我是成功故事的正文，我是成功故事的正文，我是成功故事的正文。<br>
                                                                                <a href="http://www.made-in-china.com">查看详情&gt;&gt;</a></p>
                                                                            <p style="margin: 0;"><br></p>
                                                                            <h3 style="margin: 0 0 10px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height: 20px; font-weight: bold; font-size: 12px; ">
                                                                                <a href="http://www.made-in-china.com">hello，我是成功故事的标题</a></h3>
                                                                            <p style="margin: 0;line-height: 20px; font-family: '宋体','SimSun','Microsoft YaHei'; font-size: 12px;color: #555;">我是成功故事的正文，我是成功故事的正文，我是成功故事的正文，我是成功故事的正文，我是成功故事的正文。<br>
                                                                                <a href="http://www.made-in-china.com">查看详情&gt;&gt;</a></p>
                                                                            <p style="margin: 0;"><br></p>
                                                                            <h3 style="margin: 0 0 10px; font-family: '宋体','SimSun','Microsoft YaHei'; line-height: 20px; font-weight: bold; font-size: 12px; ">
                                                                                <a href="http://www.made-in-china.com">hello，我是成功故事的标题</a></h3>
                                                                            <p style="margin: 0;line-height: 20px; font-family: '宋体','SimSun','Microsoft YaHei'; font-size: 12px;color: #555;">我是成功故事的正文，我是成功故事的正文，我是成功故事的正文，我是成功故事的正文，我是成功故事的正文。<br>
                                                                                <a href="http://www.made-in-china.com">查看详情&gt;&gt;</a></p>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr class="J-toggle" data-toggle="inforOther">
                                                                    <td style="padding:20px 20px 15px 20px;border-top:1px solid #ebebeb; ">
                                                                        <div class="mod-space" data-type="txt" data-name="infor-other-title">
                                                                            <p class="txtBox" style="margin:0;font-family:'宋体';line-height:20px;  font-weight:bolder; font-size:14px; color:#222;">其他内容（节日提醒等）</p>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr class="J-toggle" data-toggle="inforOther">
                                                                    <td style="padding:0 20px 20px 20px;">
                                                                        <div class="mod-space" data-type="richTxt" data-name="infor-other" data-styles="margin: 0;line-height: 20px; font-family: '宋体','SimSun','Microsoft YaHei'; font-size: 12px;color: #555;">
                                                                            <p style="margin: 0;line-height: 20px; font-family: '宋体','SimSun','Microsoft YaHei'; font-size: 12px;color: #555;">其他内容，自由编辑</p>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td style="padding:20px 0 0 20px;border-top:1px solid #ebebeb;">
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td align="left" width="93">
                                                                                    <img alt="made-in-china.com" border="0" height="83" src="http://edm.focuschina.com:80/MICEN/2015/11/cli_img.png" width="83"></td>
                                                                                <td valign="top">
                                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td style="font-family: '宋体','SimSun','Microsoft YaHei'; line-height:20px; font-size:12px; color:#555;">
                                                                                                中国制造网APP（供应商版）</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-family: '宋体','SimSun','Microsoft YaHei'; line-height:20px; font-size:12px; color:#555;">
                                                                                                商机随身带</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-family: '宋体','SimSun','Microsoft YaHei'; line-height:20px; font-size:12px; color:#555;">
                                                                                                扫码下载，秒变外贸达人！</td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding:20px 0 20px 20px;">
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td align="left" width="93">
                                                                                    <img alt="made-in-china.com" border="0" height="83" src="http://edm.focuschina.com:80/MICEN/2015/3/qc-img.png" width="83"></td>
                                                                                <td valign="top">
                                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td style="font-family: '宋体','SimSun','Microsoft YaHei'; line-height:20px; font-size:12px; color:#555;">
                                                                                                中国制造网官方微信平台</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-family: '宋体','SimSun','Microsoft YaHei'; line-height:20px; font-size:12px; color:#555;">
                                                                                                扫一扫，服务更周到</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td style="font-family: '宋体','SimSun','Microsoft YaHei'; line-height:20px; font-size:12px; color:#555;">
                                                                                                微信号：MIC-1998</td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table id="footer" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td>
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tr>
                                                                    <td align="center"
                                                                        style="font-family:'微软雅黑'; color:#888; padding:20px 0 0; line-height:20px; font-size:12px">
                                                                        您收到此邮件是因为曾用此邮箱注册为我网的会员，若您今后不想收到此类邮件，请<a
                                                                                href="#{backHref_var}"
                                                                                style="font-size: 12px; color:#555; text-decoration:underline;">点此退订</a>。
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center"
                                                                        style="font-family:'微软雅黑';color:#888; padding:10px 0; line-height:20px; font-size:12px">
                                                                        快速导航：
                                                                        <a href="http://www.made-in-china.com/prod/catlist/"
                                                                           style="color:#888; text-decoration:none;">产品信息</a>
                                                                        |
                                                                        <a href="http://sourcing.made-in-china.com/"
                                                                           style="color:#888; text-decoration:none;">求购信息</a>
                                                                        |
                                                                        <a href="http://membercenter.made-in-china.com/messagecenter.do?xcase=subscription"
                                                                           style="color:#888; text-decoration:none;">信息速递</a>
                                                                        |
                                                                        <a href="http://service.made-in-china.com/"
                                                                           style="color:#888; text-decoration:none;">会员e家</a>
                                                                        |
                                                                        <a href="http://www.made-in-china.com/trademessenger/"
                                                                           style="font-family:Arial;color:#888; text-decoration:none;">TradeMessenger</a>
                                                                        |
                                                                        <a href="http://www.made-in-china.com/aboutus/contact/"
                                                                           style="color:#888; text-decoration:none;">联系我们</a>
                                                                        |
                                                                        <a href="http://membercenter.made-in-china.com/logon.do?xcase=getBackPassword"
                                                                           style="color:#888; text-decoration:none;">找回密码</a><br>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center"
                                                                        style="font-family:'微软雅黑'; color:#888; padding:0px 0 10px; line-height:20px; font-size:12px">
                                                                        <font style="font-family:Arial;">Copyright ©
                                                                            2016</font> 焦点科技 版权所有
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <% }else if(page == "modifyMail"){ %>
                            <%- mail.mailCode ? mail.mailCode : mail.mailHtml %>
                        <% }%>
                    </div>
                </div>

                <div class="J-EditorCodeMode demo2code" title="黑科技 -_-!!! ">&lt; / &gt;</div>
                <div id="codeInner" class="code-inner"></div>
            </div>

        </div>
    </div>
</div>


<% include ../common/module %>



<script type="text/javascript">
    var mail = new MailMaker({
        items: [
            ['infor-month','月份'],
            ['infor-firstTitle','头条动态 标题'],
            ['infor-firstImg','头条动态 图片'],
            ['infor-firstInner','头条动态 内容'],
            ['infor-new-1','最新动态'],
            ['infor-story-1','成功故事'],
            ['infor-corpNew-title','标题'],
            ['infor-corpNew','企业新闻'],
            ['infor-study','外贸学堂'],
            ['infor-report','行业报告'],
            ['infor-other-title','标题'],
            ['infor-other','其他内容']
        ]
    });


//    $(function(){
//
//        var $addCtrlbox = $('.add-ctrlbox');
//        var numOfBlocks = $('#numOfBlocks').val();
//        var nums = JSON.parse(numOfBlocks);
//        $addCtrlbox.find('.itm').remove();
//
//        addBlock('新闻',nums.news);
//        addBlock('故事',nums.storys);
//
//        function addBlock(type,num){
//            var $thisB = $('.add-ctrlbox[data-title='+type+']')
//            for (var i = num;i> 0;i--){
//                $thisB.prepend('<span class="itm">'+ type +i+'</span>')
//            }
//            $thisB.find('.itm:last').append('<i class="J-del">X</i>');
//            $thisB.find('.itm:first').find('.J-del').remove();
//        }
//
//        $('.J-addMod').click(function(){
//
//            var box = $(this).parent();
//            var title = box.attr('data-title');
//            var num = box.find('.itm').length;
//            var name = box.attr('data-modspace');
//            var JSONname = name.split('-')[1]+'s';
//            var JmodSpace = 'J-' +name;
//            if (num < 4){
//
//                var $tpl = $('.'+JmodSpace+':last');
//                var tplHTML = $tpl.html();
//                var newModSpace = name+'-'+(num+1);
//                $tpl.after('<tr class="'+JmodSpace+'" data-index="'+ (num+1) +'">'+ tplHTML +'</tr>');
//                $tpl = $('.'+JmodSpace+':last');
//                $tpl.find('.mod-space').attr('data-name',newModSpace);
//
//                mail.loadMail();
////                $.demoLoad([newModSpace]);
//
//                nums[JSONname] = num+1;
//
//                $('#numOfBlocks').attr('value',JSON.stringify(nums));
//
//                $(this).siblings('.itm:last').find('.J-del').remove();
//                $(this).before('<span class="itm">'+ title + (num+1) +'<i class="J-del">X</i></span>');
//            }
//
//        });
//
//        $addCtrlbox.on('click','.J-del',function(){
//            var $thisBox = $(this).closest('.add-ctrlbox');
//            var index = $(this).parent().index();
//            var num = $thisBox.find('.itm').length;
//            var name = $(this).parents('.add-ctrlbox').attr('data-modspace');
//            var JSONname = name.split('-')[1]+'s';
//
//            if(num > 1){
//
//                $('.J-'+ name +':[data-index='+ (index+1) +']').remove();
//
//                $thisBox.find('.itm:last').remove();
//                nums[JSONname] = num-1;
//                $('#numOfBlocks').attr('value',JSON.stringify(nums));
//                if($thisBox.find('.itm:last').index('.itm') > 0){
//                    $thisBox.find('.itm:last').append('<i class="J-del">X</i>');
//                }
//            }
//
//
//        })
//
//    })

</script>


<% include ../common/footer %>