<% include ../common/header %>

<div class="main">
    <div class="wrap demo-edit">
        <div class="content">
            <div class="demo-wrap cf">

                <input id="J-mail-module" type="hidden" value="中国制造之美">

                <% include demo-common/ctrl-box.ejs %>
                <div class="other-box">
                </div>
                <% include demo-common/mod-box.ejs %>

                <div class="demo">
                    <div id="tableInner" class="demo-fixed">

                        <% if (page == "cookMail") { %>
                        <input id="mailEditableOption" type="hidden" value="[
                            ['mei-banner','banner图片'],
                            ['mei-inner','文本内容'],
                            ['mei-hello-title','招呼内容']
                        ]">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tbody>
                            <tr>
                                <td bgcolor="#ebebeb">
                                    <table id="header" border="0" cellpadding="0" cellspacing="0" align="center" width="700">
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ebebeb">
                                    <input id="mailHFType" type="hidden" value='{"type":"1a","lang":"en"}'>
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="700">
                                        <tbody>
                                        <tr>
                                            <td bgcolor="#FFFFFF">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td style="padding:40px 40px 0 40px;">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="font-family:Arial; font-size:16px; line-height:27px; font-weight: bolder; color:#222; padding:0px 0 20px 0;text-align:center;">
                                                                        啦啦啦
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td style="border-top:1px solid #ebebeb; padding-top:40px;padding-bottom:40px; font-family:Arial;font-weight: bolder; font-size:16px; line-height:27px; color:#222;text-align:center;">
                                                                        Magic Passport, <font color="#339900">$499</font> | Obtain after Passport Activated</td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding-bottom:40px;">
                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="450">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td valign="middle">
                                                                                    <table border="0" cellpadding="0" cellspacing="0" width="310">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td style="font-family:'Microsoft YaHei';font-weight: bolder;font-size:14px;color:#555;vertical-align: 0;" width="10">
                                                                                                            ·</td>
                                                                                                        <td style="font-family:Arial; font-size:14px; line-height:24px; color:#555; text-align:left;">
                                                                                                            Include Online and Offline Buyer Services</td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td style="font-family:'Microsoft YaHei';font-weight: bolder;font-size:14px;color:#555;vertical-align: 0;" width="10">
                                                                                                            ·</td>
                                                                                                        <td style="font-family:Arial; font-size:14px; line-height:24px; color:#555; text-align:left;">
                                                                                                            Match Qualified Chinese Suppliers</td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td style="font-family:'Microsoft YaHei';font-weight: bolder;font-size:14px;color:#555;vertical-align: 0;" width="10">
                                                                                                            ·</td>
                                                                                                        <td style="font-family:Arial; font-size:14px; line-height:24px; color:#555; text-align:left;">
                                                                                                            Arrange Efficient Online Sourcing Meeting</td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td style="font-family:'Microsoft YaHei';font-weight: bolder;font-size:14px;color:#555;vertical-align: 0;" width="10">
                                                                                                            ·</td>
                                                                                                        <td style="font-family:Arial; font-size:14px; line-height:24px; color:#555; text-align:left;">
                                                                                                            Offer One-to-One Trade Consultative Service</td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td valign="middle">
                                                                                    <a href="http://sourcing.made-in-china.com/special/passport-of-made-in-china/"> <img border="0" height="133" src="http://edm.focuschina.com:80/MICEN/2015/5/2967-pic1.png" width="140"> </a></td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" style="padding:20px 0 40px;">
                                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="padding-right:10px;">
                                                                                    <a href="http://sourcing.made-in-china.com/special/passport-of-made-in-china/" style=" color:#fff"> <img alt="Reserve Now" border="0" height="40" src="http://edm.focuschina.com:80/MICEN/2015/5/2967-pic2.png" title="Reserve Now" width="124"></a></td>
                                                                                <td>
                                                                                    <a href="http://kefu.trademessenger.com/chat/chatting?domain=micen&amp;referrer=http%3A%2F%2Fwww.made-in-china.com%2Faboutus%2Fcontact%2F&amp;businessType=YsxJmU8nmRo&amp;language=zh"><img alt="Need Help? Live Chat" border="0" height="40" src="http://edm.focuschina.com:80/MICEN/2015/3/live-chat-btn.png" title="Need Help? Live Chat" width="219"></a></td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table id="footer" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td style="border-top:1px solid #ebebeb; padding:20px 40px;background:#fff;">
                                                            <table border="0" cellpadding="0" cellspacing="0"
                                                                   width="100%">
                                                                <tbody>
                                                                <tr>
                                                                    <td valign="middle">
                                                                        <table cellpadding="0" cellspacing="0"
                                                                               border="0" width="100%">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="padding:0px 0px 5px 0px; font-size:14px;font-family:Arial; color:#888; line-height:24px;">
                                                                                    Please also feel free to <a
                                                                                            href="http://www.made-in-china.com/aboutus/contact"
                                                                                            style="text-decoration:none; color:#246bb3;">contact
                                                                                        us</a>.
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding:0px 0px 5px 0px; font-size:14px;font-family:Arial; color:#888; line-height:24px;">
                                                                                    <table cellpadding="0"
                                                                                           cellspacing="0"
                                                                                           border="0">
                                                                                        <tbody>
                                                                                        <tr>
                                                                                            <td width="70"
                                                                                                style="padding:0px 0px 0px 0px; font-size:14px;font-family:Arial; color:#888; line-height:24px;">
                                                                                                Follow us:
                                                                                            </td>
                                                                                            <td width="25"><a
                                                                                                        href="http://bit.ly/facebook_mic"><img
                                                                                                            alt=""
                                                                                                            border="0"
                                                                                                            height="16"
                                                                                                            src="http://edm.made-in-china.com/MICEN/2013/9/light_and_bed-p14.gif"
                                                                                                            width="17"></a>
                                                                                            </td>
                                                                                            <td width="25"><a
                                                                                                        href="http://bit.ly/twitter_mic"><img
                                                                                                            alt=""
                                                                                                            border="0"
                                                                                                            height="16"
                                                                                                            src="http://edm.made-in-china.com/MICEN/2013/9/light_and_bed-p13.gif"
                                                                                                            width="17"></a>
                                                                                            </td>
                                                                                            <td width="25"><a
                                                                                                        href="http://bit.ly/googleplus_mic"><img
                                                                                                            alt=""
                                                                                                            border="0"
                                                                                                            height="16"
                                                                                                            src="http://edm.made-in-china.com/MICEN/2013/9/light_and_bed-p15.gif"
                                                                                                            width="17"></a>
                                                                                            </td>
                                                                                            <td width="25"><a
                                                                                                        href="http://bit.ly/linkedin_mic"><img
                                                                                                            alt=""
                                                                                                            border="0"
                                                                                                            height="16"
                                                                                                            src="http://edm.made-in-china.com/MICEN/2014/9/linkin.gif"
                                                                                                            width="17"></a>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding:0px 0px 0px 0px; font-size:14px;font-family:Arial; color:#888; line-height:24px;">
                                                                                    To your success, <a
                                                                                            href="http://www.made-in-china.com/"
                                                                                            style="text-decoration:none; color:#246bb3;">Made-in-China.com</a>.
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                    <td width="141">
                                                                        <table cellpadding="0" cellspacing="0"
                                                                               border="0" width="100%">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="padding:0px 0px 5px 0px; font-size:14px;font-family:Arial; color:#888; line-height:24px;">
                                                                                    Made-in-China app
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding:0px 0px 10px 0px; font-size:14px;font-family:Arial; color:#888; line-height:24px;">
                                                                                    <a href="https://play.google.com/store/apps/details?id=com.micen.buyers.activity&amp;hl=en">
                                                                                        <img src="http://edm.made-in-china.com/MICEN/2015/7/app-ad.png"
                                                                                             border="0" width="141"
                                                                                             height="35"
                                                                                             alt="Get it on Google play"
                                                                                             title="Get it on Google play">
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding:0px 0px 0px 0px; font-size:14px;font-family:Arial; color:#888; line-height:24px;">
                                                                                    <a href="https://itunes.apple.com/us/app/made-in-china-for-buyer/id554038220?ls=1&amp;mt=8">
                                                                                        <img src="http://edm.made-in-china.com/MICEN/2015/7/app-os.png"
                                                                                             border="0" width="141"
                                                                                             height="35"
                                                                                             alt="Download on the App Store"
                                                                                             title="Download on the App Store">
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="padding:20px 20px 40px;">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tbody>
                                                                <tr class="J-web">
                                                                    <td style="padding-bottom:10px;font-size:12px;font-family:Arial; color:#888; line-height:20px; text-align:center;">
                                                                        The reason for this email is that you have registered
                                                                        Made-in-China.com.<br/>
                                                                        If you do not wish to receive future service-related email,
                                                                        please
                                                                        click to <a href="#{backHref_var}"
                                                                                    style="text-decoration:underline; color:#555;">unsubscribe</a>.
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding-bottom:10px;font-size:12px;font-family:Arial; color:#888; line-height:20px; text-align:center;">
                                                                        Made-in-China.com guarantees that we only send the promotion
                                                                        and
                                                                        service emails. We will protect your privacy.<br/>
                                                                        Please add the <a href="mailto:Mail-en@e.Made-in-China.com"
                                                                                          style="text-decoration:underline; color:#555;">Mail-en@e.Made-in-China.com</a>
                                                                        as a contact in order to receive the special offer and
                                                                        service
                                                                        mail.
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding-bottom:10px;font-size:12px;font-family:Arial; color:#888; line-height:20px; text-align:center;">
                                                                        Find reliable suppliers audited by SGS - <a
                                                                                href="http://www.made-in-china.com/audited-suppliers/for-buyers/"
                                                                                style="color:#888;text-decoration:none;">Audited
                                                                            Supplier</a>.
                                                                        Browse <a
                                                                                href="http://www.made-in-china.com/audited-suppliers/for-buyers/browse-audit-reports.html"
                                                                                style="color:#888;text-decoration:none;">Audit
                                                                            Report</a>.<br/>
                                                                        Site Access: <a
                                                                                href="http://www.made-in-china.com/prod/catlist/"
                                                                                style="color:#888;text-decoration:none;">Search
                                                                            Products &amp; Suppliers</a> | <a
                                                                                href="http://membercenter.made-in-china.com/trade-service/quotation-request.html"
                                                                                style="color:#888;text-decoration:none;">Post Sourcing
                                                                            Request</a> | <a
                                                                                href="http://membercenter.made-in-china.com/catalogalert.do?xcase=subscrib"
                                                                                style="color:#888;text-decoration:none;">Alert</a> | <a
                                                                                href="http://www.made-in-china.com/help/faq/"
                                                                                style="color:#888;text-decoration:none;">FAQ</a> | <a
                                                                                href="http://www.made-in-china.com/trademessenger/"
                                                                                style="color:#888;text-decoration:none;">TradeMessenger</a>
                                                                        | <a
                                                                                href="http://membercenter.made-in-china.com/logon.do?xcase=getBackPassword"
                                                                                style="color:#888;text-decoration:none;">Forgot
                                                                            Password</a><br/>
                                                                        Multi-Language: <a href="http://es.made-in-china.com/"
                                                                                           style="color:#888;text-decoration:none;">Español</a>
                                                                        | <a href="http://pt.made-in-china.com/"
                                                                             style="color:#888;text-decoration:none;">Português</a>
                                                                        | <a
                                                                                href="http://fr.made-in-china.com/"
                                                                                style="color:#888;text-decoration:none;">Français</a> |
                                                                        <a
                                                                                href="http://ru.made-in-china.com/"
                                                                                style="color:#888;text-decoration:none;">Русский
                                                                            язык</a> |
                                                                        <a
                                                                                href="http://www.made-in-china.com/multi-language/"
                                                                                style="color:#888;text-decoration:none;">More</a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="font-size:12px;font-family:Arial; color:#888; line-height:20px; text-align:center;">
                                                                        Copyright © 2016 <a
                                                                                href="http://www.focuschina.com/html_en/"
                                                                                style="color:#888;text-decoration:none;">Focus
                                                                            Technology Co., Ltd.</a> All rights reserved.
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <% }else if(page == "modifyMail"){ %>
                        <%- mail.mailCode ? mail.mailCode : mail.mailHtml %>
                        <% }%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<% include ../common/module %>
<% include ../common/footer %>