<% include common/header %>


<div class="main" id="J-choose-demo">

    <div class="main-block">
        <div class="main-block-title">选择一个模板fwfwffff</div>
            <div class="cs-demo">git
                <div class="cs-box">
                    <ul class="cs-list cf">
                        <li class="item">
                            <a href="/cook-mail?mailType=festival" class="J-demo-link">
                                <div class="img-box"><img src="img/demos/festival.jpg" alt=""></div>
                                <p class="txt">节 日</p>
                            </a>
                        </li>
                        <li class="item">
                            <a href="/cook-mail?mailType=topic" class="J-demo-link">
                                <div class="img-box"><img src="img/demos/topic.jpg" alt=""></div>
                                <p class="txt">专 题</p>
                            </a>
                        </li>
                        <li class="item">
                            <a href="/cook-mail?mailType=report" class="J-demo-link">
                                <div class="img-box"><img src="img/demos/report.jpg" alt=""></div>
                                <p class="txt"><b>市场&行业</b>分析报告</p>
                            </a>
                        </li>
                        <li class="item">
                            <a href="/cook-mail?mailType=report2" class="J-demo-link">
                                <div class="img-box"><img src="img/demos/report-2.jpg" alt=""></div>
                                <p class="txt"><b>市场&行业</b>分析报告 <b>2</b></p>
                            </a>
                        </li>
                        <li class="item">
                            <a href="/cook-mail?mailType=infor" class="J-demo-link">
                                <div class="img-box"><img src="img/demos/zix.jpg" alt=""></div>
                                <p class="txt">资讯快递</p>
                            </a>
                        </li>

                        <li class="item" style="text-align: center; line-height:400px;">
                            敬请期待~
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main" id="J-demo-wrapper">
    
</div>

<% include common/footer %>
