<% include common/header %>
<div class="main">
    <div class="main-block">
        <div class="main-block-title">User List</div>
        <div class="user-list cf">
            <% for (var i=0; i<userList.length; i++) {%>
                <div class="user-card">
                    <div class="name J-user-name"><%= userList[i].name %></div>
                    <div class="info-act">
                        <span class="is-admin"><% if(userList[i].isAdmin) { %> 管理员 <% } %></span>
                        <span class="act">
                            <a href="javascript:" class="J-modify">修改</a>
                            <span class="gap-line">|</span>
                            <a href="javascript:" class="J-delet" data-id="<%= userList[i]._id%>">删除</a>
                        </span>
                    </div>
                </div>
            <% } %>
            <div class="user-card add-user"><a href="javascript:" class="J-add-user">+</a></div>
        </div>
    </div>
</div>
<script src="js/user-list.js"></script>
<% include common/footer %>