<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mail Maker</title>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/common.js"></script>
    
    <link rel="stylesheet" href="css/ui-dialog.css">
    <script src="js/dialog-min.js"></script>

    <% if (page == "login") {%>
        
        <link rel="stylesheet" href="/css/pages/login.css">
    <% } else if (page == "chooseDemo") { %>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton" type="text/css">
        <link rel="stylesheet" href="css/choose-demo.css">
        <link rel="stylesheet" href="/css/demo.css">

    <% } else { %>
        <!-- <link rel="stylesheet" href="/css/pages/login.css"> -->
        <link rel="stylesheet" href="/css/pages/list.css">
    <% } %>

</head>
<body>
    <% if (page != "login") { %>
        <div class="sider">
            <div class="title">
                <img src="/img/logo.png" alt="">
                <!-- Perseus -->
            </div>
            <div class="log-info">
                <div class="welcome"><span class="J-user"></span></div>
                <a href="/" class="J-logout">退出</a> 
            </div>
            <div class="nav">
                <a <% if (page=="userList") {%> class="selected" <% } %>href="/user-list">用户列表</a>
                <a <% if (page=="mailList") {%> class="selected" <% } %>href="/mail-list">邮件列表</a>
                <a href="/choose-demo">添加邮件</a>
            </div>
        </div>
    <% } %>