<div class="demo-sider">
    <div class="demo-fixed">

        <div class="ctrl-box">
            <div class="form-item">
                <h4 class="form-title">邮件主题<em class="fa fa-asterisk"></em></h4>
                <div class="form-fill">
                    <input id="mailTitle" type="text"/>
                </div>
            </div>
            <div class="form-item">
                <h4 class="form-title">邮件说明</h4>
                <div class="form-fill">
                    <input id="mailDescription" type="text"/>
                </div>
            </div>
            <div class="form-item">
                <h4 class="form-title">WEB版地址</h4>
                <div class="form-fill">
                    <input id="inputWEBUrl" type="text">
                </div>
            </div>
        </div>